body {font-family: 'Roboto', sans-serif;
       color: #434455;
       background-color: #FFFFFF;}

ul {list-style-type: none;}  

a {text-decoration: none;}


.header-navi-logo span {color: #2e2f42;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17; /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
    cursor: pointer;}

.header-navi-logo {color: #4d5ae5 ;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17; /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
    cursor: pointer;}

.nav-list{color:#2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.50; /* 150% */
    letter-spacing: 0.02em;
    cursor: pointer;}

.nav-list:hover .nav-list:focus {color: #404bbf;}
.nav-list:active{color:#404BBF; text-decoration: underline;}



.header-navi-link {color:#2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.50; /* 150% */
    letter-spacing: 0.02em;
    cursor: pointer;}

.header-navi-link:hover .header-navi-link:focus {color: #404bbf;}
.header-navi-link:active {color:#404BBF; text-decoration: underline;}


.nav-list-li:hover .nav-list-li:focus {color: #404bbf;}
.nav-list-li:active {color:#404BBF; text-decoration: underline;}



.header-navi-portfolio {color:#2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.50; /* 150% */
    letter-spacing: 0.02em;
    cursor: pointer;}

.header-navi-portfolio:hover{color: #404BBF;}


.header-navi-contacts {color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.50; /* 150% */
    letter-spacing: 0.02em;
    cursor: pointer;}

.header-navi-contacts:hover{color: #404BBF;}

.header-addr{font-style: normal;}



.header-addr-mail {color: #434455;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.50; /* 150% */
    letter-spacing: 0.02em;}

.header-addr-mail:hover, .header-addr-mail:focus{color: #404BBF;}



.header-addr-tel {color: #434455;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.50; /* 150% */
    letter-spacing: 0.02em;}

.header-addr-tel:hover, .header-addr-tel:focus{color:#404BBF}



.main-hero {background: #2E2F42;}

.main-hero-title {color:  #FFF;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07; /* 107.143% */
    letter-spacing: 0.02em;}


.main-hero-btn {color: #FFF;
    font-family: "Roboto", sans-serif; 
    font-size: 16px;
    font-weight: 500;
    line-height: 1.50; /* 150% */
    letter-spacing: 0.04em;
    border-radius: 4px;
    background:  #4D5AE5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;}

.main-hero-btn:hover,.main-hero-btn:focus{background: #404BBF;}


.main-advantages-title {color: #2e2f42;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;}

.main-advantages-strategy {color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.20; /* 120% */
    letter-spacing: 0.02em;}

.main-advantages-strategy-p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.50; /* 150% */
    letter-spacing: 0.02em;}  
    
.main-advantages-punctuality {color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.20; /* 120% */
    letter-spacing: 0.02em;}

.main-advantages-punctuality-p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.50; /* 150% */
    letter-spacing: 0.02em;}  

.main-advantages-diligence {color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.20; /* 120% */
    letter-spacing: 0.02em;}

.main-advantages-diligence-p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.50; /* 150% */
    letter-spacing: 0.02em;}

.main-advantages-technologies {color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.20; /* 120% */
    letter-spacing: 0.02em;}

.main-advantages-technologies-p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.50; /* 150% */
    letter-spacing: 0.02em;}


.main-team {background: #F4F4FD;}

.main-team-list{background-color: #FFFFFF;}

.team-list-li{background-color: #FFFFFF}


.main-team-title {color: #2e2f42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11; /* 111.111% */
    letter-spacing: 0.02em;
    text-transform: capitalize;}

.team-title-team {color: #2e2f42;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; /* 111.111% */
    letter-spacing: 0.02em;
    text-transform: capitalize;}


.main-team-text {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.50; /* 150% */
    letter-spacing: 0.02em;}

.main-team-title-tom {color: #2e2f42;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; /* 111.111% */
    letter-spacing: 0.02em;
    text-transform: capitalize;}

.main-team-text-tom {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.50; /* 150% */
    letter-spacing: 0.02em;}

.main-team-title-camila {color: #2e2f42;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; /* 111.111% */
    letter-spacing: 0.02em;
    text-transform: capitalize;}

.main-team-text-camila {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.50; /* 150% */
    letter-spacing: 0.02em;}

.main-team-title-daniel {color: #2e2f42;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; /* 111.111% */
    letter-spacing: 0.02em;
    text-transform: capitalize;}

.main-team-text-daniel {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.50; /* 150% */
    letter-spacing: 0.02em;}


.portfolio-title-main {color: #2e2f42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11; /* 111.111% */
    letter-spacing: 0.02em;
    text-transform: capitalize;}

.portfolio-title {color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; /* 120% */
    letter-spacing: 0.02em;}
    
.portfolio-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.50; /* 150% */
    letter-spacing: 0.02em;}

.portfolio-cashless-title {color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; /* 120% */
    letter-spacing: 0.02em;}

.portfolio-cashless-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.50; /* 150% */
    letter-spacing: 0.02em;}

.portfolio-meditation-title {color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.11; /* 120% */
    letter-spacing: 0.02em;}

.portfolio-meditation-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.50; /* 150% */
    letter-spacing: 0.02em;}

.portfolio-taxi-title {color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.11; /* 120% */
    letter-spacing: 0.02em;}

.portfolio-taxi-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.50; /* 150% */
    letter-spacing: 0.02em;}

.portfolio-illustrations-title {color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.11; /* 120% */
    letter-spacing: 0.02em;}

.portfolio-illustrations-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.50; /* 150% */
    letter-spacing: 0.02em;}

.portfolio-courses-title {color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.11; /* 120% */
    letter-spacing: 0.02em;}

.portfolio-courses-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.50; /* 150% */
    letter-spacing: 0.02em;}

.footer {background:  #2E2F42}

.footer-logo span{color: #f4f4fd;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17; /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
    cursor: pointer;}

.footer-logo {color: #4d5ae5 ;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17; /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
    cursor: pointer;}

.footer-text {color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;}