body {font-family: 'Roboto', sans-serif;
       color: #434455;}

ul {list-style-type: none;}  

a {text-decoration: none;}


.header-navi-logo span {color: #4D5AE5;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16; /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
    cursor: pointer;}

.header-navi-logo {color: #2E2F42;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16; /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
    cursor: pointer;}



.header-navi-studio {color:#2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.50; /* 150% */
    letter-spacing: 0.02em;
    cursor: pointer;}

.header-navi-studio:hover{color: #404BBF;}
.header-navi-studio:active{color:#404BBF;}




.header-navi-portfolio {color:#2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.50; /* 150% */
    letter-spacing: 0.02em;
    cursor: pointer;}

.header-navi-portfolio:hover{color: #404BBF;}


.header-navi-contacts {color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.50; /* 150% */
    letter-spacing: 0.02em;
    cursor: pointer;}

.header-navi-contacts:hover{color: #404BBF;}



.header-addr-mail {color: #434455;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.50; /* 150% */
    letter-spacing: 0.02em;}

.header-addr-mail:hover{color: #404BBF;}



.header-addr-tel {color: #434455;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.50; /* 150% */
    letter-spacing: 0.02em;}

.header-addr-tel:hover{color:#404BBF}



.main-hero {background: #2E2F42;}

.main-hero-title {color:  #FFF;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07; /* 107.143% */
    letter-spacing: 0.02em;}


.main-hero-btn {color: #FFF;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.50; /* 150% */
    letter-spacing: 0.04em;
    border-radius: 4px;
    background:  #4D5AE5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;}

.main-hero-btn:hover,.main-hero-btn:focus{background: #404BBF;}


.main-advantages-title {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;}

.main-advantages-strategy {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.20; /* 120% */
    letter-spacing: 0.02em;}

.main-advantages-strategy-p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.50; /* 150% */
    letter-spacing: 0.02em;}  
    
.main-advantages-punctuality {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.20; /* 120% */
    letter-spacing: 0.02em;}

.main-advantages-punctuality-p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.50; /* 150% */
    letter-spacing: 0.02em;}  

.main-advantages-diligence {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.20; /* 120% */
    letter-spacing: 0.02em;}

.main-advantages-diligence-p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.50; /* 150% */
    letter-spacing: 0.02em;}

.main-advantages-technologies {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.20; /* 120% */
    letter-spacing: 0.02em;}

.main-advantages-technologies-p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.50; /* 150% */
    letter-spacing: 0.02em;}


.main-team {background: #F4F4FD;}


.main-team-title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11; /* 111.111% */
    letter-spacing: 0.02em;
    text-transform: capitalize;}

.main-team-title-mark {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11; /* 111.111% */
    letter-spacing: 0.02em;
    text-transform: capitalize;}


.main-team-text-mark {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.50; /* 150% */
    letter-spacing: 0.02em;}

.main-team-title-tom {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11; /* 111.111% */
    letter-spacing: 0.02em;
    text-transform: capitalize;}

.main-team-text-tom {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.50; /* 150% */
    letter-spacing: 0.02em;}

.main-team-title-camila {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11; /* 111.111% */
    letter-spacing: 0.02em;
    text-transform: capitalize;}

.main-team-text-camila {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.50; /* 150% */
    letter-spacing: 0.02em;}

.main-team-title-daniel {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11; /* 111.111% */
    letter-spacing: 0.02em;
    text-transform: capitalize;}

.main-team-text-daniel {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.50; /* 150% */
    letter-spacing: 0.02em;}


.portfolio-title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11; /* 111.111% */
    letter-spacing: 0.02em;
    text-transform: capitalize;}

.portfolio-banking-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.20; /* 120% */
    letter-spacing: 0.02em;}
    
.portfolio-banking-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.50; /* 150% */
    letter-spacing: 0.02em;}

.portfolio-cashless-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.20; /* 120% */
    letter-spacing: 0.02em;}

.portfolio-cashless-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.50; /* 150% */
    letter-spacing: 0.02em;}

.portfolio-meditation-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.20; /* 120% */
    letter-spacing: 0.02em;}

.portfolio-meditation-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.50; /* 150% */
    letter-spacing: 0.02em;}

.portfolio-taxi-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.20; /* 120% */
    letter-spacing: 0.02em;}

.portfolio-taxi-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.50; /* 150% */
    letter-spacing: 0.02em;}

.portfolio-illustrations-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.20; /* 120% */
    letter-spacing: 0.02em;}

.portfolio-illustrations-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.50; /* 150% */
    letter-spacing: 0.02em;}

.portfolio-courses-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.20; /* 120% */
    letter-spacing: 0.02em;}

.portfolio-courses-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.50; /* 150% */
    letter-spacing: 0.02em;}

.footer {background:  #2E2F42}

.footer-logo span{color: #4D5AE5;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16; /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
    cursor: pointer;}

.footer-logo {color: #F4F4FD;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16; /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
    cursor: pointer;}

.footer-text {color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;}